{% extends 'commonbase.html' %}	
{% block content %}
<style>
td,th{
    padding: 10px;;
}
</style>
<div style="margin: 50px 20px 20px 380px;">
    <h1>Login</h1><br>
							<form method="POST">
                                {% csrf_token %}
                            <table>
								<tr><td>Email</td><td><input type="email" name="txtEmail"  required/></td></tr>
                                <tr><td>Password</td><td><input type="password" name="txtPassword"  required /></td></tr>
                                <tr><td colspan="2"><input type="submit" value="LOGIN" ></td></tr>
                            </table>
							</form>
                        </div>						
                        <script>
                            var msg="{{msg}}"
                            if(msg!="")
                                alert(msg)
                            </script>		
                        {% endblock %}	
